@use "../utilities/variables";
/*--------------------------------about section-------------------------------------------*/

#aboutArt {
    width: 100px;
    position: absolute;
    top: -40px;
    right: 40px;
    transform: rotate(-10deg);
    animation-name: cambiar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    @media(min-width:750px) {
        width: 160px;
        top: 400px;
    }
}


/*-----------animation------------*/

@keyframes cambiar {

    0% {
        opacity: 0;
        rotate: -20deg;
    }

    25% {
        rotate: -20deg;
    }

    75% {
        rotate: 10deg;
    }

    100% {
        opacity: 1;
        rotate: 0deg;
    }

}


section {
    p {
        color: variables.$color-text;
        text-shadow: variables.$shadow-text;
    }

    @media(min-width:750px) {
        margin: 0px 20px;

        p {
            line-height: 2;
        }
    }
}

.carousel {
    img {
        height: 600px;
    }

    &-item {
        transition: transform 1s ease, opacity .2s ease-out
    }

}